body {
    margin: 0;
    padding: 0;
    background-color:#fafaee;
    font-family: Arial;
}

 h2, h3 {
    text-align: center;
    color: #000000;
}

h1 {
    font-size: 100px;
    text-align: center;
}

p {
    text-align: center;
    font-size: 25px;
    font-family: arial;
}

a {
    color: white;
    text-decoration: none;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textboxdiv {
    align-items: center;
}    

div {
    
    margin: 0 auto;
    padding: 20px;
    
    align-items: center;
}

button {
    width: 100px;
    transition-duration: 0.4s;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: gray;
    lighting-color: white;
}

button:disabled {
    cursor: not-allowed;
}

textarea {
    /*width: 100px;*/
     transition-duration: 0.4s;
 }
 
 textarea:hover {
     box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
     background-color: lightgray;
     lighting-color: white;
 }



#banner {
    display: flex;
    justify-content: center;   
    align-items: center;       
    height: 50vh;             
    text-align: center;
    font-size: 3rem;   

    font-family: Arial;
    background-color: #000000e2;
    color:  #000000e2; 
    padding: 20px;
    font-size: 25px;
}
