body {
    margin: 0;
    padding: 0;
    background-color:#fafaee;
    font-family: Arial;
    
}


#welcome {
   
 
    
    text-align: center;
    color: wheat;
    
    font-family: arial; 
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 600px;
    transform: translate(-50%, -50%);
}s
/*
#introduction {
    display: flex;
    justify-content: center;   
    align-items: center;       
    height: 50vh;             
    text-align: center;
    font-size: 3rem;   

    font-family: Arial;
    background-color: #11849bb0;
    color: #000000; 
    padding: 20px;
    font-size: 30px;
}

#theSecondTextThing {
    display: flex;
    justify-content: center;   
    align-items: center;       
    height:S 100vh;             
    text-align: center;
    font-size: 3rem;    
    font-family: arial;
    
}
*/



h1, h2, h3 {
    text-align: center;
    color: #ffffff;
}

a {
    color: white;
    text-decoration: none;
}

p {
    text-align: center;
    font-size: 30px;
    font-family: arial;
}

.box {
    width: 400px;
    height: 200px;
    background-color: rgb(54, 54, 240);
    border-radius: 20px;
}

#theSecondTextThing {
    display: flex;
    align-items: center;
    gap:20px;
}

#boxBeluga {
    max-width: 600px;
    height: 400px;
    
}

div {
  
    margin: 0 auto;
    padding: 20px;
   
    background-color: #fafaee ;
}

button:hover {
    background-color: blue;
}
 
#a320neo {
    max-width: 1200px;
}

#banner {
    display: flex;
    justify-content: center;   
    align-items: center;       
    height: 50vh;             
    text-align: center;
    font-size: 3rem;   

    font-family: Arial;
    background-color: #000000e2;
    color:  #000000e2; 
    padding: 20px;
    font-size: 25px;
}
